<%- include ('head'); -%>

<div class="p-3 mb-2 bg-dark text-white"><center><h2>Generate PDF and add to DB</h2></center></div>
<br/>

<div class="form-group">
    <form id="form" method="post" action="/users/pdf">
        <input type="text" name="email" pattern="^(([0-9A-Za-z]{1}[\-0-9A-z\.]{1,}[0-9A-Za-z]{1})@([\-A-Za-z]{1,}\.){1,2}[\-A-Za-z]{2,})$" placeholder="E-mail" required class="form-control"><br/>
        <input type="submit" value="startup" class="btn btn-danger">
    </form>
</div>
<br/><br/>

<div class="LinkTable"><a href="/users">To users list</a>
</div>

<%- include ('foot'); -%>