<%- include ('head'); -%>

<div>
    <center><h2 class="text-info">Add User</h2></center>
</div>
<br/>

<div class="form-group">
    <form id="form" method="post" action="/">
        <input type="text" name="email" pattern="^(([0-9A-Za-z]{1}[\-0-9A-z\.]{1,}[0-9A-Za-z]{1})@([\-A-Za-z]{1,}\.){1,2}[\-A-Za-z]{2,})$" placeholder="E-mail" required class="form-control"><br/>
        <input type="text" name="firstName" placeholder="First Name" required class="form-control"><br/>
        <input type="text" name="lastName" placeholder="Last Name" required class="form-control"><br/>
        <input type="text" name="image" class="form-control" required pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+(?:png|jpg|jpeg|gif|svg)+$"><br/>
        <input type="submit" value="Register" class="btn btn-success">
    </form>
</div>
<br/><br/>

<div class="LinkTable"><a href="/users">To users list</a>
</div>

<div class="LinkTable"><a href="/users/pdf">Create pdf</a>
</div>

<%- include ('foot'); -%>